/* _content/backend-skincare-2023/Views/Shared/_Layout.cshtml.rz.scp.css */


/*NAV*/
.website-logo[b-6v7hlf41df] {
    margin-left: 12px;
}

.user-icon[b-6v7hlf41df] {
    margin-right: 12px;
}

.nav-item[b-6v7hlf41df] {
    margin-right: 100px;
}

.navbar[b-6v7hlf41df] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link[b-6v7hlf41df] {
    padding: 10px 30px;
    font-weight: normal;
}

    .nav-link:hover[b-6v7hlf41df] {
        color: #9781AD !important;
        font-weight: 500;
    }

/* FOOTER */
section[b-6v7hlf41df] {
    padding: 40px 0;
}

#footer[b-6v7hlf41df] {
    background: #333333 !important;
    padding-bottom: 10px;
}

    #footer a[b-6v7hlf41df] {
        color: white;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer p[b-6v7hlf41df] {
        padding: 3px 0;
    }

        #footer p a[b-6v7hlf41df],
        #footer p a[b-6v7hlf41df] {
            color: white;
        }

#footer-text[b-6v7hlf41df] {
    margin-top: 30px;
    margin: auto;
}

.fa[b-6v7hlf41df] {
    color: white !important;
}

.social a i[b-6v7hlf41df] {
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-end;
}

.social[b-6v7hlf41df] {
    margin-top: -150px;
}

/* Media query for smaller screens */
@media (max-width:767px) {
    #footer h5[b-6v7hlf41df] {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .social[b-6v7hlf41df] {
        text-align: center;
        margin-top: -25px;
    }

        .social a i[b-6v7hlf41df] {
            margin-top: 20px;
            align-items: center;
            display: inline-block;
            margin-right: 10px;
        }
}
