html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    text-decoration: none !important;
    padding: 0;
    width: 100%;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}




/*IMG ROXA*/
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Change to border-box for proper padding and margin calculations */
}


#container-roxo {
    background-color: #9781AD;
    height: 25vh;
    color: white;
}

.title-rotina {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 12px;
}



.btn-routine {
    color: white;
    background-color: #9781AD;
    border-color: white;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    margin-left: 12px;
}

.btn-routine:hover {
     background-color: white;
     border-color: #9781AD;
     color: #9781AD;
      
}

.p-rotina {
    padding-left: 12px;
    color: white;
}


div.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#div-img {
    padding: 0;
}

#retinol-img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

@media (max-width:767px) {
    #div-img {
        display: none;
    }

    .title-rotina {
        padding-top: 18px;
        margin-bottom: 5px;
    }

    #container-roxo {
        padding-left: 55px;
    }

    #btn-rotina {
        margin-left: 80px;
    }

    .p-rotina {
        margin-top: 2px;
        margin-bottom: 7px;
    }
}



/*MAIN- IMAGES-CARD*/

img:focus {
    outline: none !important; /* Remove o contorno */
}


.title-cards {
    color: #333;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.text-cards {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #666;
    width: 60%;
}


.hr {
    width: 200px;
    border-bottom: 1px solid #9781AD;
    margin-top: 8px;
}

.div-ativos {
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 22px !important;
   
}

.dest-card {
   display: flex;
   justify-content: center !important;
}



.content {
    padding: 20px; /* Adicione margens internas para afastar o conteúdo das bordas do contêiner */
}

.div-pele-masculina {
    margin-top: 40px !important;
    margin-bottom: 10px;
    align-content: end !important;
    margin-left: 22px !important;
}

.img-tipo-pele {
    border-radius: 20px;
    width: 100%;
    margin-left: 22px !important;
}

.col-pele {
    margin-right: 20px;
}


#pele {
    margin-left: 20px !important;
}


.text-container {
    margin-top: 20px;
}

.div-tipo-pele {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}


.img-ativos {
    border-radius: 20px;
    width: 100%;
    height: 90%;
    
}


.img-masculina {
    border-radius: 20px;
}


.div-pele-masculina {
    margin-bottom: 80px;
}

.text-card {
    display: inline-block;
    vertical-align: top;
    /* Alinha com a parte superior do elemento inline-block */
}

.btn-custom {
    color: #9781AD;
    background-color: white;
    border-color: #9781AD;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;

}

.btn-custom:hover {
    background-color: #9781AD;
    border-color: #9781AD;
    color: white;
}




/*CAROUSEL*/
.carousel {
    background-color: #EFEFEF;
    padding-bottom: 60px;
}

.custom-card {
    margin-right: 30px;
    border-radius: 20px !important;
}

.carousel h4 {
    margin-bottom: 40px;
}

.cont-h4{
   padding-top: 40px;
}

h5, h4 {
    font-weight: bold;
    color: #333333 !important;
}

h5 {
    font-size: 18px;
    margin-top: 0px;
}

.card-text {
    margin-top: 0px;
}

.card-title{
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    color: #666666;
}

.quero-ler {
    font-weight: bold !important;
    text-decoration: none;
    color: #333333;
}



/* FOOTER */
#footer {
    background: #333333 !important;
    padding-bottom: 10px;
}

#footer a {
    color: white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer p {
    padding: 3px 0;
}

#footer p a,
#footer p a {
    color: white;
}

#footer-text {
    margin: auto;
}

.fa {
    color: white !important;
}

.social a i {
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-end;
}

.social {
    margin-top: -150px;
}

/* Media query for smaller screens */
@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .social {
        text-align: center;
        margin-top: -25px;
    }

    .social a i {
        margin-top: 20px;
        align-items: center;
        display: inline-block;
        margin-right: 10px;
    }
}
