
.user-name {
    font-size: 20px !important;
    justify-content: center;
    display: flex;
}

p {
   text-align: center;
}

#h3 {
    font-size: 25px;
    background-color: #9F77FF;
    color: white;
    padding: 6px;
}

.text-container {
    background-color: whitesmoke !important;
    padding: 25px;
    margin-bottom: 70px;
}

main{
    background-color: #EFEFEF !important;
   
}


