@{
    ViewData["Title"] = "Soft Care";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Soft Care</title>
    <link rel="stylesheet" href="~/css/tipo-pele.css" asp-append-version="true" />
</head>
<body>
    <hr class="hr" />


    <div class="container-fluid container">
        <div class="justify-content-center">

            <h3 class="text-center mt-5 mb-5"> Cuidados com a pele madura</h3>

            <img src="~/images/post_thumbnail-8ea97f7d51bbb5b2c26fdb8f3714fefa-1160x453.jpg" class="img-fluid d-block w-100 mb-5 img-tipo-pele" alt="...">


            <div class="text-container" id="info">

                <p class="mb-4">
                    A pele madura tem características específicas que fazem com que a gente precise adotar uma rotina de cuidados especiais. 
                    Com o passar do tempo, é normal que o nosso organismo mude, e isso também se reflete no aspecto da nossa pele.
                </p>
                <p class="mb-4">
                    O corpo diminui a produção de colágeno, e isso faz com que a flacidez se manifeste, favorecendo a formação de rugas. 
                    Elas acontecem também por causa das agressões da radiação solar, da poluição, das impurezas do ar e pelo ressecamento, típico da 
                    pele madura, assim como as manchas.
                </p>

                <p class="mb-5">
                    A gente não pode impedir que o tempo passe, mas é possível cuidar da pele madura para que ela fique mais saudável e bonita e você
                    se sinta bem consigo mesma. Vem com a gente e descubra quais cuidados manter nessa fase da sua pele!
                </p>

               
                <h4 class="mb-4">Como cuidar bem da pele madura?</h4>
                <h5>Limpeza</h5>
                <p>
                     A limpeza é muito importante em qualquer fase da vida para eliminar impurezas e se manter livre de cravos e espinhas. 
                     Na pele madura, é interessante fazer uma limpeza mais profunda, só que usando produtos que limpem de uma forma suave sem agredir a 
                     derme, já que ela costuma ser mais sensível.

                </p>
                <p>

                      Os limpadores e sabonetes faciais ajudam a remover toda a maquiagem e outros produtos que você tiver usado ao longo do dia, 
                      como hidratante ou protetor solar. É interessante optar por produtos para pele madura e que sejam específicos para o seu tipo de pele, 
                      garantindo resultados melhores.
                </p>
               
                <h5 class="mt-5">Hidratação</h5>
                <p>
                      A hidratação é mais uma etapa muito importante da nossa rotina de cuidados com a pele madura, já que ela tende a ser mais ressecada. 
                      Por isso, vale investir em um bom hidratante, que ajude a formar uma camada de proteção e evite a perda da umidade natural.

                </p>
                <p class="mb-5">
                      O ideal é utilizar um creme hidratante específico para o rosto, evitando usar produtos para o corpo. Isso porque os hidratantes 
                      faciais têm uma fórmula específica para atender às necessidades da pele do rosto, além de um equilíbrio ideal entre os componentes 
                      para que não causem nenhum tipo de irritação ou desequilíbrio na derme.
                </p>
                <h5 class=""> Filtro solar</h5>
                <p>
                      O Sol favorece a formação das manchas senis, causa envelhecimento precoce e também contribui para o agravamento do 
                      melasma? É por isso que o ideal seria a gente usar protetor solar facial desde sempre, para evitar as agressões que a radiação pode 
                      causar.
                </p>
                <p>

                      A pele madura continua precisando desse cuidado, inclusive porque, além das manchas, não podemos esquecer que o Sol é o principal causador do câncer de pele, 
                      então é essencial caprichar na proteção, inclusive em dias nublados. 
                </p>
                <p class="mb-5">
                      Quanto mais clara for a pele, ou quanto maior for o tempo de exposição ao Sol, maior também deve ser o fator do filtro solar que você 
                      vai usar. Não se esqueça de que existem aqueles desenvolvidos só para o rosto. O protetor que agente usa no corpo não é a melhor 
                      alternativa para a face porque a fórmula costuma ser mais oleosa.
                </p>

                <h5 class="">Antioxidantes</h5>
                <p>

                       Nosso organismo produz naturalmente os radicais livres, que são moléculas resultantes do metabolismo das células. 
                       Quando se acumulam no organismo, eles podem provocar danos e acelerar nosso processo natural de envelhecimento. 
                       Isso afeta o corpo por completo, favorecendo doenças como diabetes e artrite, além de afetar a pele.
                <p class="">
                    É por isso que os antioxidantes são grandes aliados no cuidado com a pele madura. Eles combatem os radicais livres e evitam o 
                    envelhecimento precoce. Existem produtos antioxidantes nas versões óleo de limpeza, máscara facial, sérum e creme restaurador, 
                    por exemplo.
                </p>
                <p>
                    Assim como a pele sensível, a pele madura também pode ser oleosa, seca ou mista. No entanto, ao contrário dos outros tipos de pele, a pele madura acontece com todos nós. As proteínas de colágeno e elastina que compõem a nossa pele gradualmente se denaturam com a idade, causando mudanças na aparência (como rugas),
                    no tom (devido a capilares quebrados) e na textura (perda de elasticidade). Isso é inevitável e ocorre com todos. Mas também é tratável.
                </p>
                <p class="p-madura">
                     Diferentes substâncias e ingredientes têm essa ação de combater os radicais livres e garantir a saúde da pele madura. 
                     Você pode investir, por exemplo, em produtos ricos em vitamina C ou E, além dos que contenham cafeína, resveratrol, niacinamida e 
                     carnosina.


                </p>
            </div>
        </div>
    </div>
</body>
</html>