<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Soft Care</title>
    <link rel="stylesheet" href="~/css/tipo-pele.css" asp-append-version="true" />
</head>


<body>
    <hr class="hr" />


    <div class="container-fluid container mb-5">
        <div class="justify-content-center">

            <h2 class="text-center mt-5 mb-5"> Política de Privacidade </h2>




            <div class="text-container" id="info">
                <p>Bem-vindo à Soft Care, um espaço dedicado à promoção da saúde e beleza da sua pele. A sua privacidade é fundamental para nós, e queremos assegurar-lhe que as informações pessoais recolhidas ao utilizar a Soft Care são tratadas com a máxima confidencialidade e segurança. Esta Política de Privacidade explica como recolhemos, usamos e protegemos os seus dados.</p>

                <h6 class="mb-7">
                    Informações que recolhemos</h6>
                <p class="mb-4">
                    Ao cadastrar-se na Soft Care e criar rotinas personalizadas, recolhemos informações como o seu nome, endereço de e-mail, idade, tipo de pele e outras informações relevantes para personalizar a sua experiência no site.
                </p>

                <h6>Como Utilizamos as Suas Informações:</h6>
                <p class="mb-4">
                    Utilizamos as informações recolhidas para personalizar as funcionalidades da Soft Care, oferecendo-lhe recomendações e conteúdo adaptado às suas necessidades e preferências. As informações também são usadas para melhorar a qualidade do nosso serviço, otimizar a interface do utilizador e comunicar consigo sobre atualizações importantes.
                </p>

                <h6>Criação de Rotinas de Skincare:</h6>
                <p class="mb-4">
                    Ao criar rotinas de skincare, as informações fornecidas são utilizadas exclusivamente para personalizar sugestões de cuidados com a pele com base nas suas preferências e necessidades específicas.
                </p>

                <h6>Partilha de Informações:</h6>
                <p class="mb-4">
                    A Soft Care não partilha as suas informações pessoais com terceiros sem o seu consentimento, exceto quando necessário para fornecer os serviços solicitados por si.
                </p>

                <h6>Segurança:</h6>
                <p class="mb-4">
                    Implementamos medidas de segurança robustas para proteger as suas informações contra acesso não autorizado, alteração, divulgação ou destruição não autorizada. As suas informações são armazenadas de forma segura e criptografadas.
                </p>

                <h6>Segurança:</h6>
                <p class="mb-4">
                    Implementamos medidas de segurança robustas para proteger as suas informações contra acesso não autorizado, alteração, divulgação ou destruição não autorizada. As suas informações são armazenadas de forma segura e criptografadas.
                </p>

                <h6>Cookies:</h6>
                <p class="mb-4">
                    A Soft Care utiliza cookies para personalizar a sua experiência online. Pode ajustar as configurações do seu navegador para recusar cookies, mas isso pode afetar a funcionalidade do site.
                </p>

                <h6>Consentimento:</h6>
                <p class="mb-4">
                    Ao utilizar a Soft Care, concorda com a recolha e uso das suas informações conforme descrito nesta política de privacidade.
                </p>

                <h6>Alterações à Política de Privacidade:</h6>
                <p class="mb-4">
                    Reservamo-nos o direito de modificar esta política de privacidade a qualquer momento. As alterações entrarão em vigor assim que forem publicadas no site.

                    Se tiver alguma dúvida sobre esta política, entre em contacto connosco através do email contato@softcare.com.br.
                </p>


            </div>
        </div>
    </div>
</body>
</html></html>