@{
    ViewData["Title"] = "Soft Care";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Soft Care</title>
    <link rel="stylesheet" href="~/css/tipo-pele.css" asp-append-version="true" />
</head>


<body>
    <hr class="hr" />


    <div class="container-fluid container mb-5">
        <div class="justify-content-center">

            <h3 class="text-center mt-5 mb-5"> O que é a Soft Care? </h3>

            <img src="~/images/JTX5FQTV5VG6RPURGPU4YYH4JE.jpg" class="img-fluid d-block w-100 mb-5 img-tipo-pele" alt="...">
        

            <div class="text-container" id="info">

                <p>
                    Bem-vindo à Soft Care, onde a sua jornada para uma pele saudável e radiante começa. Somos mais do que um site informativo sobre skincare; somos o seu parceiro na busca por uma rotina de cuidados com a pele personalizada, adaptada às necessidades exclusivas do seu tipo de pele. Aqui stamos comprometidos em ser o seu guia confiável para uma pele saudável e bonita. Junte-se a nós nesta jornada!

                </p>
				<h6>A Nossa Missão:</h6>
                <p class="mb-4">
                    Na Soft Care, acreditamos que todos merecem sentir-se bem na própria pele. A nossa missão é capacitar cada indivíduo a alcançar a sua melhor versão, proporcionando informações confiáveis e personalizadas sobre cuidados com a pele.
                </p>

                <h6>O Que Nos Diferencia:</h6>
                <p class="mb-4">
                    Personalização em Primeiro Lugar: Entendemos que cada pele é única. É por isso que oferecemos uma abordagem personalizada, permitindo que crie rotinas de skincare adaptadas ao seu tipo de pele, metas específicas e estilo de vida.
                </p>
                <p class="mb-4">   
                    Informações Confiáveis: Na Soft Care, comprometemo-nos a fornecer informações baseadas na ciência e na expertise de profissionais de skincare. Queremos que se sinta confiante nas escolhas que faz para a saúde da sua pele.
                </p>
                <p class="mb-4">
                    Comunidade de Apoio: A beleza vai além da superfície da pele. Criamos uma comunidade onde pode partilhar experiências, dicas e inspirar-se mutuamente na jornada para uma pele mais saudável.
                </p>

                <h6>
                    Como Nos Envolvemos com a Comunidade:
                </h6>
                <p>Na Soft Care, acreditamos no poder da partilha de conhecimentos. Participamos em eventos, colaboramos com especialistas em skincare e estamos sempre atentos às últimas tendências e descobertas para partilhar com vocês.

                </p>

                <h6>Contacte-nos:</h6>
                <p>
                    Estamos à disposição! Se tiver dúvidas, sugestões ou simplesmente quiser partilhar a sua jornada de skincare, entre em contacto conosco em contato@softcare.com.br ou através das nossas redes sociais.
                </p>


            </div>
        </div>
    </div>
</body>
</html>