<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Soft Care</title>
    <link rel="stylesheet" href="~/css/tipo-pele.css" asp-append-version="true" />
</head>


<body>
    <hr class="hr" />


    <div class="container-fluid container">
        <div class="justify-content-center">

            <h3 class="text-center mt-5 mb-5"> Política de Privacidade </h3>




            <div class="text-container" id="info">

                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem ut nobis quidem mollitia earum laboriosam! Eos placeat praesentium ex aliquam inventore ullam eligendi facere quo, veritatis numquam non libero?</h6>
                <p class="mb-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur deleniti asperiores ullam, possimus molestiae id qui accusantium, aliquam voluptatum, delectus laborum repellendus rem a et aut. Facere praesentium architecto nobis.
                </p>

                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempore rem magni labore nulla molestiae laborum fugiat architecto totam earum, aliquam, quaerat maiores. Quia, distinctio ut earum nam laudantium blanditiis.</h6>
                <p class="mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ratione obcaecati. Veritatis cum quisquam fuga explicabo. Itaque ipsam natus odio perferendis, alias error asperiores. Quasi, magni? Expedita odio quisquam sed!
                </p>



            </div>
        </div>
    </div>
</body>
</html>