@model backend_skincare_2023.Models.User

@{
    ViewData["Title"] = "Edit";
}

<hr class="hr"/>

<div class="main-part">
    <div class="row">
        <h1>Editar</h1>
        <div class="col-md-4 mt-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Nome</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="LastName" class="control-label">Sobrenome</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="BirthDate" class="control-label">Data nascimento</label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="PasswordKey" class="control-label">Senha</label>
                    <input asp-for="PasswordKey" class="form-control" />
                    <span asp-validation-for="PasswordKey" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Perfil" class="control-label">Tipo de usuário</label>
                    <select asp-for="Perfil" class="form-control" asp-items="Html.GetEnumSelectList<Perfil>()"></select>
                    <span asp-validation-for="Perfil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-purple mt-4 mb-4" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</div>


