@model User
@{
    ViewData["Title"] = "Soft Care";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<hr class="hr" />

<div class="container-fluid container-login">
    <div class="row full-height">
        <div class="col-md-6 p-0">
            <img src="~/images/curology-RKwaj2g6OOU-unsplash.jpg" class="img-fluid" id="login-img" alt="Imagem de login">
        </div>
        <div class="col-md-4 div-login">
            <h1 class="mt-4">Entre com a sua conta</h1>
            <p>Se você já é cadastrado, entre com o seu email e senha.</p>
           

            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-4">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="PasswordKey" class="control-label">Senha</label>
                    <input asp-for="PasswordKey" class="form-control" />
                    <span asp-validation-for="PasswordKey" class="text-danger"></span>
                </div>
                <p class="error-message"> @ViewBag.Message</p>
                <div class="form-group mt-4">
                    <input type="submit" value="Entrar" class="btn btn-purple form-control mt-4 mb-4" />
                </div>
            </form>
            <div class="div-link-cadastro">
                <p>Não possui uma conta? <a class="link-cadastro" asp-area="" asp-controller="Users" asp-action="Create">Cadastre-se aqui</a></p>
            </div>
        </div>
    </div>
</div>

