@model backend_skincare_2023.Models.User

@{
    ViewData["Title"] = "Login";
}

<hr class="hr" />

<div class="main-part">
    <div>
        <a asp-action="Index">Voltar</a>
   </div>

    <h1 class="mt-4">Entre com a sua conta</h1>
    <p>Se você já é cadastrado, faça entre com o seu email e senha.</p>

<div class="row">
    <div class="col-md-4 mt-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mt-4">
                <label asp-for="FirstName" class="control-label">Nome</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        
            <div class="form-group mt-4">
                <label asp-for="PasswordKey" class="control-label">Senha</label>
                <input asp-for="PasswordKey" class="form-control" />
                <span asp-validation-for="PasswordKey" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                    <input type="submit" value="Entrar" class="btn btn-purple form-control mt-4 mb-4" />
            </div>
        </form>
            <p class="align-content-center">Não possui uma conta? <a class="link-cadastro'" asp-area="" asp-controller="Users" asp-action="Create">Cadastre-se aqui</a></p>
        <h3> @ViewBag.Message</h3>
    </div>
</div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}