/* estilos para home page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-left: 90px;
  width: 100%;
  height: 100%;
}

.row {
  /* margin-top: 100px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 80%;
  /* height: 100vh; */
}

.row img {
  margin-right: 40px;
  width: 450px;
  height: 325px;
  border-radius: 10px;
}

.row .img {
  width: 1000px;
  margin-top: 50px;
}

.text-content {
  width: 450px;
}

#btn-readmore {
  padding: 5px 20px;
  border: 2px solid #9781ad;
  color: #9781ad;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.text-content h3 {
  font-family: serif;
  font-size: 32px;
  font-weight: 700;
}

#hr {
  width: 250px;
  color: #52495b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button a {
  text-decoration: none;
  color: #9781ad;
}

div .item2 {
  background-color: red;
  background: #fafafa;
  border-radius: 20px;
}
/* #img-2 {
  background: #fafafa;
  width: 100%;
  height: 100%;
} */
