@model backend_skincare_2023.Models.Routine

@{
    ViewData["Title"] = "Delete";
}


<hr class="hr" />

<div class="main-part">

<h3 class="mb-4">Tem certeza que desja deletar essa rotina?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Rotina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoutineText)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoutineId" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-purple">Voltar</a>
    </form>
</div>
</div>
