@model IEnumerable<backend_skincare_2023.Models.Routine>

@{
    ViewData["Title"] = "Index";
}

<hr class="hr" />

<div class="main-part">

<h1 class="mb-4">Minhas rotinas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
               Rotina
            </th>
            <th>
                Excluir
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                  <a asp-action="Details" asp-route-id="@item.RoutineId" class="btn btn-custom mr-2" id="btn-rotina">Detalhes</a> 
            </td>
            <td>
                        <a asp-action="Delete" asp-route-id="@item.RoutineId" class="text-danger" id="trash" style="text-decoration: none;">
                            <i class="fas fa-trash" style="font-size: 20px;"></i>
                        </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

