@model IEnumerable<backend_skincare_2023.Models.Routine>
@using System.Security.Claims


@{
    ViewData["Title"] = "Soft Care";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Soft Care</title>
    <link rel="stylesheet" href="~/css/MinhaConta.css" asp-append-version="true" />
</head>
<body>
    <hr class="hr" />

    <div class="user-name mt-5 mb-3">
        <h3 class="h3">Meus dados</h3>
    </div>


 <div class="container-fluid" id=container-dados>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Sobrenome
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Data nascimento
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>@User.Identity.Name.Split(' ')[0]</p>
                    </td>
                    <td>
                        <p>@User.Identity.Name.Split(' ')[1]</p>
                    </td>
                    <td>
                        <p>@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</p>
                    </td>
                    <td>
                        <p>@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.DateOfBirth)?.Value</p>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>


</body>
</html>



